.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  height: 100%;
}
